 body {
	font-size: 14px;
	overflow-x: hidden;
	background-color: #ecf0f5;
}
body,
html {
	height: 100%;
	width: 100%;
	font-family: Arial,Verdana,Helvetica,sans-serif;
}
input:focus, textarea:focus {
    background-color: #fefbe0;
}

textarea {
   resize: none;
}

/*-------------------------------
	Wrappers
-------------------------------*/
#wrapper {
	padding-left: 0;
}

#sidebar-wrapper {
	margin-left: -230px;
	top: 51px;
	left: 0px;
	width: 230px;
	background: #2d2f35;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.2s ease 0s;
}

#wrapper.active {
	padding-left: 230px;
	/*width: calc(100% - 230px); */
	transition: all 0.2s ease 0s;
}

#wrapper.active #sidebar-wrapper {
	left: 230px;
}

#page-content-wrapper {
	width: 100%;
	padding-top: 60px;
	transition: all 0.2s ease 0s;
	/*background: #2d2f35; */
}

@media (max-width:767px) {
	#wrapper {
		padding-left: 0;
	}
	#sidebar-wrapper {
		left: 0;
	}
	#wrapper.active {
		position: relative;
		left: 230px;
	}
	#wrapper.active #sidebar-wrapper {
		left: 230px;
		width: 230px;
		transition: all 0.2s ease 0s;
	}
	#menu-toggle {
		display: inline-block;
	}
	.brand-name-lg {
  		display: none;
	}
	.brand-name-sm {
  		display: inline;
	}
}

@media (min-width:767px) {
	.brand-name-lg {
  		display: inline;
	}
	.brand-name-sm {
  		display: none;
	}
}
	
/*-------------------------------
	Header navbar
-------------------------------*/
#hamburger-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    background: #13426A;
    border-color: #ccc;
}

.navbar-default {
 	background: #13426A;/* #018175; #18a689; */
	border-color: #018175;
	color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #5e5e5e;
	background-color: transparent;
}

.navbar-default .navbar-brand {
	color: #04974e;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #555;
	background-color: #04974e;
}
.navbar-right {
	margin-right: 10px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: transparent;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
	padding: 15px;
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #dddddd;
}
.navbar-nav>.user-menu>.dropdown-menu {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	padding: 1px 0 0 0;
	border-top-width: 0;
	width: 280px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
	z-index: 5;
	color: #000000;
	font-size: 17px;
	margin-top: 10px;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
	background-color: #f9f9f9;
	padding: 10px;
	display: table;
	width: 100%;
}
li.user-header {
	background-color: #c0c0c0; //
	height: 175px;
	padding: 5px;
	text-align: center;
}

/*-------------------------------
	Sidebar
-------------------------------*/
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 230px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-nav li {
	line-height: 20px;
 	width: 100%;
 	display: inline-block;
}

.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 0px; //
	background-color: #018175; //
	-webkit-transition: width .2s ease-in; //
	-moz-transition: width .2s ease-in; //
	-ms-transition: width .2s ease-in; //
	transition: width .2s ease-in;
}

.sidebar-nav li a {
	color: #ffffff;
	//background-color: #018175;
	display: block;
	font-size: 12px;
	text-decoration: none;
	padding: 10px 15px 10px 20px;
}

.sidebar-nav li ul {
	margin: 0px;
	padding: 0px;
	background-color: #2d2f35;
}

.sidebar-nav li ul li a {
	margin: 0px;
	padding-left: 30px;
	background-color: #2d2f35;
}

.sidebar-nav li ul li a.disabled {
	pointer-events:none;
	cusror: default;
	color: #cccccc;
}

.sidebar-nav li:hover:before, .sidebar-nav li.open:hover:before {
	width: 100%; //
	-webkit-transition: width .2s ease-in; //
	-moz-transition: width .2s ease-in; //
	-ms-transition: width .2s ease-in; //
	transition: width .2s ease-in;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #01af9e;
}

.sidebar-nav li.open a:active,.sidebar-nav li.open a:focus
.sidebar-nav li ul li a:hover, .sidebar-nav li ul li a:active, .sidebar-nav li ul li a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #01af9e;
}

.sidebar-nav li.active > a[aria-expanded="true"] {
    color: #fff;
    background: #01af9e; //#6d7fcc;
}

.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-radius: 0;
	border: none;
	background-color: #01af9e;
	box-shadow: none;
}

.sidebar-nav > .sidebar-brand {
	height: 50px;
	font-size: 20px;
	line-height: 40px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

.sidebar-nav a[aria-expanded="false"]::before,
.sidebar-nav a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

.sidebar-nav a[aria-expanded="true"]::before {
    content: '\e260';
}
.sidebar-nav > li > a > .fa,
.sidebar-nav > li > ul > li > a > .fa,
.sidebar-nav > li > a > .glyphicon,
.sidebar-nav > li > ul > li > a > .glyphicon {
  width: 18px;
}
/*-------------------------------
	Panel
-------------------------------*/
.panel {
  	position: relative;
  	border-radius: 6px;
  	border-top: 3px solid #d2d6de;
  	margin-bottom: 10px;
  	width: 100%;
  	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.panel.panel-custom-primary {
  	border-top-color: #0f416b;;
}
.panel.panel-custom-second {
  	border-top-color: #3c8dbc;
}
.panel.panel-custom-info {
  	border-top-color: #00c0ef;
}
.panel.panel-custom-danger {
  	border-top-color: #dd4b39;
}
.panel.panel-custom-warning {
  	border-top-color: #f39c12;
}
.panel.panel-custom-success {
  	border-top-color: #00a65a;
}
.panel.panel-custom-default {
  	border-top-color: #018175;
}

.panel-heading {
    font-size: 18px;
    color: #3b4045;
}
.panel-heading-title {
	line-height: 1.4em;
	font-weight: 400;
	width: 40%;
	colr: #3b4045;
	border-bottom: 1px solid #e2e2e2;
}
.panel-heading-title a {
    color: #018175;
	text-decoration: none;
	
}
.panel-heading-title a:hover {
    color: #26a69a;
	text-decoration: none;
}

.panel-heading-title a::before {
    font-family: Fontawesome;
    content: '\f077';
    float: left;
    line-height: 1.5em;
    font-weight: 400;
}

.panel-heading-title a.collapsed::before {
    font-family: Fontawesome;
    content: '\f078';
}

/*-------------------------------
	Modal
-------------------------------*/
.modal-dialog-custom .modal-header {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #13426A;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-dialog-custom h4 {
	font-size: 16px;
	//margin-top: 0;
}
.modal-dialog-custom .modal-footer {
	color: #999;
	border-color: #d8dfe2;
}
.modal-header-custom {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #008c8c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-dialog-postId {
	min-width: 750px;
}
/*-------------------------------
	Tab
-------------------------------*/
.nav-pills>li>a {
	border-radius: 4px;
	background-color: #EEEEEE;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #0a9444;
}

#tab_details .nav-pills>li>a {
	border-radius: 4px 4px 0 0;
}

#tab_details .tab-content {
	color: #000000;
	background-color: transparent;
	padding: 15px 15px;
	min-height: 355px;
	margin-bottom: 30px;
	border-top: 1px solid transparent;
	border-color: #23964b;
}

.tab-panel-header {
	background-color: #5bc0de;
	border-color: #46b8da;
	color: #fff;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.tab2_fund_label {
	text-align: right;
}
/*-------------------------------
	Form
-------------------------------*/
.form-control {
	height: 32px;
	display: block;
	width: 100%;
	padding: 1px 2px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-group {
	 margin-bottom: 0px
}

.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.delimiter {
	margin: 15px;
	border-bottom: 1px solid #ccc;
}

fieldset.scheduler-border {
	border: 1px solid #ddd !important;
	margin: 2px 2px;
	xmin-width: 0;
	padding: 10px;
	position: relative;
	border-radius: 4px;
	background-color: #f5f5f5;
	padding-left: 10px !important;
}

.nopadding {
	padding-left: 5px !important;
    padding-right: 5px !important;
}
/*-------------------------------
	Button
-------------------------------*/
.btn {
	padding: 5px 10px;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 12px;
}
.btn-success {
  	background-color: #00a65a;
  	border-color: #008d4c;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
  	background-color: #008d4c;
}
.btn-danger {
  	background-color: #dd4b39;
  	border-color: #d73925;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
  	background-color: #d73925;
}
.btn-warning {
  	background-color: #f39c12;
  	border-color: #e08e0b;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
  	background-color: #e08e0b;
}
/*-------------------------------
	Input-group
-------------------------------*/
.input-group-addon {
	padding: 0px 3px;
}

/*-------------------------------
	Jquery-autocomplete
-------------------------------*/
.ui-autocomplete {
	padding: 0;
  	list-style: none;
  	background-color: #fff;
  	width: 218px;
  	border: 1px solid #B0BECA;
  	max-height: 350px;
  	overflow-x: hidden;
  	z-index:30000 !important;
}

.ui-autocomplete .ui-menu-item {
	border-top: 1px solid #B0BECA;
	display: block;
	padding: 4px 6px;
	color: #353D44;
	cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child {
	border-top: none;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
	background-color: #D5E5F4;
	color: #161A1C;
}
    
.ui-helper-hidden-accessible {
	display:none; 
}

/*-------------------------------
	Jquery-datepicker
-------------------------------*/
.datepicker {
  	font-size: 12px;
  	z-index: 9999;
}

/*-------------------------------
	Others
-------------------------------*/
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #098c54;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
.txt_post_name {
	color: #187bf3;
}
.ddl_searching {
	width: 500px;
}
.mprs_nav {
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0px;
}
.breadcrumbs {
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0px;
}
.breadcrumbs .fa,
.breadcrumbs .glyphicon {
	margin-right: 3px;
}
.help-block {
	font-size: 12px;
}
.star {
	color: #FF0000;
	font-size: 14px;
}

.form-space {
	margin-right: 2px;
}

.clickable{
    cursor: pointer;   
}

.alert-box-success {
	display: block;
	min-height: 45px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 7px;
	border: 1px solid #009349;
}
.alert-box-icon-success {
	display: block;
	float: left;
	min-height: 45px;
	width: 50px;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	color: #fff;
	background: #009349;
}
.alert-box-content-success {
	color: #008200;
	display: block;
	font-size: 12px;
	min-height: 45px;
	padding: 10px 7px;
	overflow: hidden;
}
.alert-box-danger {
	display: block;
	min-height: 45px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 7px;
	border: 1px solid #c90133;
}
.alert-box-icon-danger {
	display: block;
	float: left;
	min-height: 45px;
	width: 50px;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	color: #fff;
	background: #c90133;
}
.alert-box-content-danger {
	color: #cd0134;
	display: block;
	font-size: 12px;
	min-height: 45px;
	padding: 10px 7px;
	overflow: hidden;
}

/*-------------------------------
	table
-------------------------------*/
.mprs_table {
	/*margin: 0 auto;*/
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F5F5F5;
	width: 100%
}

.mprs_table thead {
	background: #0b9173;
	color: white;
}

.mprs_table thead tr th {
	font-weight: bold;
	padding: 5px 5px; //
	padding-left: 42px;
	text-align: center;
}

.mprs_table thead tr th span {
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.mprs_table tbody tr {
	color: #555;
}

.mprs_table tbody tr td {
	text-align: center;
	padding: 5px 0px;
}

.mprs_table tr td {
	background-color: #FFFFFF;
	padding: 5px 0px;
}

.mprs_table tbody tr td.lalign {
	text-align: left;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
	from { bottom:-100px; opacity:0 } 
	to { bottom:0; opacity:1 }
}

.section-title {
	font-size: 24px;
	font-weight: 500;
	display: block;
	width: 100%;
	min-height: 40px;
	margin: 3px 3px 7px 3px;
}

.section-title .title {
	padding: 3px 5px 3px 5px;
	//display: table-cell;
	color: #444;
}

.section-title .fa,
.section-title .glyphicon {
	margin-right: 3px;
}

.mprs_nav .fa,
.mprs_nav .glyphicon {
	margin-right: 3px;
}


.mprs_navbar_dev {
	background: #13426A;
	border-color: #13426A;
}

.mprs_navbar_dev #hamburger-toggle {
    background: #13426A;
}

.mprs_navbar_sit {
	background: #303066;
	border-color: #303066;
}

.mprs_navbar_sit #hamburger-toggle {
    background: #303066;
}

.mprs_navbar_uat {
	background: #bd6002;
	border-color: #bd6002;
}

.mprs_navbar_uat #hamburger-toggle {
    background: #bd6002;
}

.mprs_navbar_fixsit {
	background: #8e4a69;
	border-color: #8e4a69;
}

.mprs_navbar_fixsit #hamburger-toggle {
    background: #8e4a69;
}

.mprs_navbar_fixuat {
	background: #553e2d;
	border-color: #553e2d;
}

.mprs_navbar_fixuat #hamburger-toggle {
    background: #553e2d;
}

/*------------------------------- 
	EClaim - newProject
-------------------------------*/
.v-middle {
   display: inline-block;
   vertical-align: middle;
   float: none;
}